@charset "utf-8";
@font-face{font-family:"Myriad Pro";            src:local("Myriad Pro"),             url(fonts/MyriadPro-Regular.otf)    format('opentype');}
@font-face{font-family:"Myriad Pro Cond";       src:local("Myriad Pro Cond"),        url(fonts/MyriadPro-Cond.otf)       format('opentype');}
@font-face{font-family:"Myriad Pro Cond Bold";  src:local("Myriad Pro Cond Bold"),   url(fonts/MyriadPro-CondBold.otf)   format('opentype');}
@font-face{font-family:"Myriad Pro Cond Italic";src:local("Myriad Pro Cond Italic"), url(fonts/MyriadPro-CondItalic.otf) format('opentype');}
@font-face{font-family:"Open Sans Cond Light";  src:local("Open Sans Cond Light"),   local("Open Sans Condensed Light"), url(fonts/OpenSans-CondLight.ttf) format('truetype');}
@font-face{font-family:"Open Sans";  src:local("Open Sans"), url(fonts/OpenSans-Regular.ttf) format('truetype');}
@font-face{font-family:"Century Gothic";        src:local("Century Gothic"), 				 url(fonts/GOTHIC.TTF) format('truetype');}
@font-face{font-family:"Century Gothic Bold";   src:local("Century Gothic Bold"), 	 url(fonts/GOTHICB.TTF) format('truetype');}
@font-face{font-family:"PFDinTextCondProLight"; src:local("PFDinTextCondProLight"),  url(fonts/pfdintextcondpro-light.ttf) format('truetype');}
@font-face{font-family:"Lobster";               src:local("Lobster"),                url(fonts/lobster.ttf) format('truetype');}
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px/24px "Trebuchet MS",Calibri,sans-serif}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}

main{width:999px;margin:0 auto;position:relative}
header{height:856px;background:transparent url(images/top.png) center top no-repeat}
header #top{height:137px;background:rgba(0,0,0,.7) url(images/logo.png) center center no-repeat;color:white}
header #top h2{font-family:"Century Gothic";font-size:24px;padding-top:40px}
header #top h1{font-family:"Myriad Pro Cond Bold";font-size:48px;text-transform:uppercase;padding-top:40px}
header #top p{font-family:"Myriad Pro Cond";font-size:24px}
header #top div img{cursor:pointer;margin-top:6px}
header #header div{text-align:center;margin-top:90px;color:white;background:rgba(0,0,0,.5);padding:30px 0}
header #header div h1{font-family:"Century Gothic Bold";font-size:65px;line-height:65px}
header #header div p{font-family:"Century Gothic";font-size:24px;margin-top:20px}
header #header form{width:228px;height:148px;background:url(images/topform.png) top left no-repeat;margin-top:60px;margin-right:30px;padding:90px 39px 0}
header #header form input{width:228px;height:24px;background:transparent url(images/topforminput.jpg) top left no-repeat;font-size:18px;padding:4px 5px;color:white;border:none;margin:5px 0}
header #header form input:focus:invalid{background:url(images/invalid.png) 212px center no-repeat,transparent url(images/topforminput.jpg) top left no-repeat}
header #header form input:valid{background:url(images/valid.png) 212px center no-repeat,transparent url(images/topforminput.jpg) top left no-repeat}
header #header form img{cursor:pointer}
header #header main>p{position:absolute;bottom:-320px;font-family:"Century Gothic Bold";font-size:30px;line-height:40px;color:white;left:0;right:340px;text-align:center}

#it{background: linear-gradient(to bottom, #fff, #f7f1f3); height: 220px;text-align:center;}
#it h2{font-family: 'Lobster';font-size:60px;font-weight:normal;padding:40px 0; color:#7d7d7d;}
#it ol{list-style:none; padding: 20px 0;}
#it ol li{display:inline-block;color:#e29fb1;text-transform:uppercase;text-align:center;font-family:'Myriad Pro Cond'; padding: 0 20px;}

#green{background:url(images/green_section_back.png) left top repeat-x}
#green main>p{font-family:PFDinTextCondProLight;font-size:24px;font-weight:lighter;padding-top:20px}
#green>main>div{background:url(images/green_back.jpg) repeat-x;height:543px;text-align:center;width:1631px;margin-left:-316px}
#green>main>div>main>div{background:url(images/green_bottom.png) bottom center no-repeat,url(images/green_left.png) left top no-repeat;height:306px;padding-top:70px}
#green h2{font-family:"PFDinTextCondProLight";font-size:36px;line-height:36px;text-align:left;margin-left:320px}
#green h2 span.price{font-size:48px;line-height:48px;color:white;margin-left:10px}
#green form{width:227px;background:rgba(255,255,255,.1);padding:15px 15px 0;text-align:left;margin-top:-5px}
#green form input{width:227px;height:34px;font-size:18px;margin-bottom:7px;border:none;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.5)}
#green form button{width:185px;height:35px;border-radius:35px;margin:7px 0}
#green form button{font:13px Arial, Helvetica, sans-serif;margin-bottom:8px;padding:6px;border:1px solid #93969a;font-size:18px;line-height:18px;text-align:center;color:black;background:linear-gradient(to bottom, #FFCe26, #ff9c00) transparent;border: 1px solid #B98D5E;text-shadow:#ffd161 0 1px 1px;vertical-align:top;outline:medium none currentColor;text-decoration:none;cursor:pointer}
#green form button:hover{background:linear-gradient(to bottom, #ffd83e, #ff9c00) transparent}
#green form button:active{background:linear-gradient(to top, #FFCe26, #ff9c00) transparent}

#propose{background:#f7f7f7 url(images/6.jpg) center top}
#propose p{text-align:center;font:24px "PFDinTextCondProLight"; color:#7d7d7d; padding-top:52px;}
#propose ol{list-style:none;margin-top:110px;}
#propose ol li{position:relative;display:inline-block;width:420px;vertical-align:top;font:20px "PFDinTextCondProLight";line-height:26px;
padding-left:35px;margin:5px 5px 20px 20px;background:url(images/7.png) no-repeat left 0}

#pink{background:url(images/7.jpg) center top; height:608px;}
#pink h2{text-align:center;color:#fafafa;font:48px "Lobster";color:#fafafa;padding-top:20px;}
#pink h4{font:24px "Lobster";color:#6e6e6e;}
#pink ol{text-align:left; list-style:none;margin-top:80px;background:url(images/pink_left.png) no-repeat top left;padding-left:109px;padding-bottom:40px}
#pink ol li{position:relative;display:inline-block;width:370px;font:22px "Open Sans Cond Light";line-height:22px;color:#fafafa;padding-left:40px;padding-bottom:20px;margin:0px 5px 0px 20px;background:url(images/pink_list.png) no-repeat left 35px}

#stars{background:#f4f4f4 url(images/8.jpg) center top no-repeat}
#stars ol{text-align:center;list-style:none;padding-top:35px;}
#stars ol li{position:relative;display:inline-block;width:255px;vertical-align:top;font:20px "PFDinTextCondProLight";color:#545454;padding-top:25px;margin:5px 5px 0px 20px;background:url(images/10.png) no-repeat center 0}
#stars ol.three li{width:813px;background:url(images/9.png) no-repeat center 0; margin-bottom:30px;}
#stars ol.three {padding-top:0px;margin-top:-30px;}

#present_woman{margin-top:15px;}
#present_woman h2{text-align:center; background:url(images/9.jpg) center top no-repeat;padding-top:20px;padding-bottom:60px;font:48px "Myriad Pro Cond";color:#8d8d8d}
#present_woman h3{text-align:center;font:30px "Open Sans Cond Light";}
#present_woman ol{list-style:none;}
#present_woman li{position:relative;display:inline-block;width:350px;margin:0 70px;margin-bottom:100px}
#present_woman h4{text-align:right;font:30px "Myriad Pro Cond";}
#present_woman p{text-align:center;font:18px "Open Sans";margin-bottom:15px;}
#present_woman p.change_color{text-align:right;font:18px "Arial Narrow";}
#present_woman span{padding-right:10px;}
#present_woman img.mini{padding-left:25px;}
#present_woman img.color{padding-top:10px;margin-bottom:-10px}
#present_woman img.button{margin: 0 auto;width:216px;display:block;}
#present_woman p.add{text-align:center;font:20px "PFDinTextCondProLight";color:#8d8d8d; margin-top:-40px;}

#present_men{background:url(images/12.jpg)center top no-repeat;padding-top:60px; padding-bottom:45px}
#present_men h2{text-align:center; background:url(images/9.jpg) center top no-repeat;padding-top:20px;padding-bottom:60px;font:48px "Myriad Pro Cond";color:#8d8d8d}
#present_men h3{text-align:center;font:30px "Myriad Pro Cond"; color:#8d8d8d;}
#present_men ol{list-style:none;}
#present_men li{position:relative;display:inline-block;width:246px;margin:0;margin-bottom:30px}
#present_men img.button{margin: 0 auto;display:block;}


#feature{background:url(images/feature.png) center top}
#feature main{height:506px;color:white}
#feature main h2{background:rgba(0,0,0,.6);text-align:right;color:white;font-family:"Century Gothic Bold";font-size:48px;line-height:54px;padding:6px 10px 20px;margin-top:40px}
#feature main p{background:rgba(0,0,0,.5);color:white;font-family:"Open Sans Cond Light";font-size:30px;line-height:30px;padding:10px;position:absolute;bottom:0}
#feature main form{position:absolute;right:40px;bottom:48px;width:242px;height:225px;background:url(images/form.png);padding:14px 40px;margin-top:10px}
#feature main form fieldset{border:none;text-align:center}
#feature main form fieldset legend{font-family:"Myriad Pro";font-size:24px;text-shadow:0 -1px 1px rgba(0,0,0,.5)}
#feature main form fieldset input,#feature main form fieldset button{width:240px;height:40px;border-radius:4px;text-align:center;border:none;margin-top:10px}
#feature main form fieldset input{width:234px;background:transparent url(images/input.png) center top;padding:3px 5px 4px;font-size:18px;color:white}
#feature main form fieldset input[type="tel"]{background-position:center 47px;margin-top:6px}
#feature main form fieldset button{background:#b6b6b6;background:linear-gradient(to bottom, #f7f7f7, #7f7f7f);box-shadow:1px 4px 4px rgba(0,0,0,.7);font-family:"Myriad Pro";font-size:18px;text-transform:uppercase;cursor:pointer;margin-top:20px}

#howwork{background:url(images/howwork.png) center top; height:618px;}

#responses{background:#eeeeee}
#responses h2{text-align:center;margin-bottom:50px;font:48px "Myriad Pro Cond";text-transform:uppercase;color:#afafaf;font-weight:bold}
#responses ol{list-style:none;display:block}
#responses h4{font:24px "PFDinTextCondProLight"}
#responses ol li{position:relative;display:block;font:18px "Myriad Pro";min-height:160px;font:18px "PFDinTextCondProLight"; color:#323232;background:url(images/response/1.png) no-repeat right center}
#responses ol li:nth-child(even){text-align:right;padding:30px 180px 0 50px}
#responses ol li:nth-child(odd){text-align:left;padding:30px 50px 0 180px;background-position:left center}
#responses ol li.img2{background-image:url(images/response/2.png)}
#responses ol li.img3{background-image:url(images/response/3.png)}
#responses ol li.img1{background-image:url(images/response/1.png)}
#responses ol li.img4{background-image:url(images/response/4.png)}

footer{background:url(images/map.jpg) center top}
footer main{height:697px}
footer main form{background:#e2e2e2;width:421px;height:216px;padding:40px 25px 20px;position:absolute;top:185px;left:40px}
footer main form h4{font-family:"Myriad Pro Cond";font-weight:Lighter;font-size:24px;color:#883a95}
footer main form input, footer main form textarea{background:white;border:none;box-shadow:2px 4px 2px rgba(0,0,0,.2);padding:10px;border-radius:4px;font-family:"Open Sans Cond";font-size:14px;color:black}
footer main form input{height:18px;margin:10px 5px}
footer main form input[type="text"]{width:160px;margin-left:0}
footer main form input[type="email"]{width:200px;margin-right:0}
footer main form textarea{display:block;width:395px;height:70px}
footer main form button{background:#883a95;width:126px;height:40px;text-align:center;color:white;font-family:"Myriad Pro Cond Light";font-size:18px;margin-right:5px;border:none;margin-top:7px;cursor:pointer}
footer main #contacts{position:absolute;top:150px;left:654px}
footer main #contacts h3{font-family:Lobster;font-size:30px;color:#7d7d7d;margin-bottom:37px}
footer main #contacts p{font-family:"Open Sans Cond Light";font-size:20px;color:#7d7d7d;margin-bottom:20px;padding-left:10px}
